.contain-detail {
  padding: 2rem;
  background-color: rgb(249, 211, 211);
}


.img-cards {
  height: 33.5rem;
  width: 100%;
}

.padding-cards {
  padding: 0.1rem 0.1rem;
  background: rgb(249, 211, 211);
}

Img:hover {
  cursor: pointer;
}